# {{ template "chart.name" . }}

{{ template "chart.versionBadge" . }}

## Installing the Chart

To install the chart with the release name `my-release`:

```console
$ helm repo add ronas https://ronasit.github.io/projects-operator/
$ helm install my-release ronas/{{ template "chart.name" . }}
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}
