{{- if .Values.workers.enabled -}}
{{- $root := . -}}
{{- range .Values.workers.items }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ regexReplaceAll "_" .name "-" }}-worker
  labels:
    {{- include "laravel.labels" $root | nindent 4 }}
spec:
  replicas: {{ .replicaCount | default 1 }}
  selector:
    matchLabels:
      {{- include "laravel.selectorLabels" $root | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "laravel.selectorLabels" $root | nindent 8 }}
    spec:
      {{- with $root.Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "laravel.serviceAccountName" $root }}
      securityContext:
        {{- toYaml $root.Values.podSecurityContext | nindent 8 }}
      containers:
      - name: {{ regexReplaceAll "_" .name "-" }}-worker
        securityContext:
          {{- toYaml $root.Values.securityContext | nindent 10 }}
        env:
          {{- toYaml $root.Values.extraEnvVars | nindent 10 }}
        image: "{{ $root.Values.image.repository }}:{{ $root.Values.image.tag }}"
        imagePullPolicy: IfNotPresent
        volumeMounts:
          {{- toYaml $root.Values.volumeMounts | nindent 10 }}
        resources:
{{ toYaml ( .resources | default $root.Values.workers.resources ) | indent 10 }}
        command: 
          - sh
          - -c
          - {{ .cmd }}
      volumes:
        {{- toYaml $root.Values.volumes | nindent 8 }}
{{- end }}
{{- end }}
